APP_NAME=Парсер каталога Wildberries
APP_VERSION=1.0.0
DEFAULT_QUERY=пальто из натуральной шерсти
DEFAULT_PAGES=1
DEFAULT_LIMIT=100
WB_SEARCH_ENDPOINTS=https://u-search.wb.ru/exactmatch/ru/common/v18/search,https://search.wb.ru/exactmatch/ru/common/v18/search,https://search.wb.ru/exactmatch/ru/common/v4/search
WB_CARD_DETAIL_ENDPOINTS=https://card.wb.ru/cards/v4/detail,https://card.wb.ru/cards/v2/detail,https://card.wb.ru/cards/detail
WB_DESTINATION=-1257786
WB_CURRENCY=rub
WB_LOCALE=ru
HTTP_TIMEOUT_SECONDS=20
HTTP_RETRIES=2
HTTP_MAX_CONNECTIONS=40
MAX_ENRICHMENT_CONCURRENCY=12
BASKET_SHARD_MAX=30
BATCH_SIZE=100
